/* <p> OUMESSAOUD Azzedine: oumessaoud@hotmail.fr</p>  */

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 1;
    transition: opacity 0.3s, visibility 0.3s;
    visibility: hidden;
  }
  
  
  .scroll{
    background-color: #F28500;
    width: 100%;
    margin-right: 20px;
  }
  .scroll:hover{
    
    box-shadow: 5px 5px 5px 5 rgba(3, 100, 24, 0.5);
    background: rgb(171, 189, 236);
    color: darkblue;
}

